body {
    background-color: aquamarine;
}

h1,
h2,
#count {
    text-align: center;
    font-style: italic;
    color: aliceblue;
}

#increment-btn {
    color: black;
    margin-left: 44%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#save-btn {
    background-color: rgb(37, 126, 209);
    margin-left: 44%;

}

button {
    display: block;

}

#save-el {
    margin-left: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}

@media screen and (max-width:800px) {

    h1,
    #save-el {
        font-size: 10px
    }

    #save-el {
        margin-left: 30px;
    }
    

}